<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button"><i class="fa fa-bars"></i> SECTIONS</button>
			</li>
			<li id="search-modal-btn">
				
				<button type="button"><i class="fa fa-search"></i> SEARCH</button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="subscribe-now-btn">
				<button type="button">SUBSCRIBE NOW</button>
			</li>
			<li id="log-in-btn">
				<button type="button">LOGIN</button>
			</li>
			<li id="gear-icon-btn">
				<button type="button"><i class="fas fa-cog"></i></button>
			</li>
		</ul>
	</nav>
</header>

